@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

:root {
  --background: 255 100% 100%;
  --foreground: 240 10% 3.9%;
  --card: 240 4.8% 95.9%;
  --border: 240 5.9% 90%;
  --primary: 221.2 83.2% 53.3%;
  --primary-foreground: 0 0% 100%;
  --accent: 45.4 93.4% 47.5%;
  --primary-python-blue: #3b82f6;
  --primary-python-yellow: #fbbf24;
}

.dark {
  --background: 240 10% 3.9%;
  --foreground: 0 0% 98%;
  --card: 240 3.7% 15.9%;
  --border: 240 3.7% 15.9%;
  --primary: 217.2 91.2% 59.8%;
  --primary-foreground: 222.2 47.4% 11.2%;
  --accent: 45.4 93.4% 47.5%;
  --primary-python-blue: #3b82f6;
  --primary-python-yellow: #fbbf24;
}

@layer components {
  .shiki {
    @apply rounded-lg p-4;
  }
}

@theme {
  --animate-wiggle: wiggle 5s ease-in-out infinite;
  @keyframes wiggle {
    0%,
    100% {
      transform: rotate(-3deg);
    }
    50% {
      transform: rotate(3deg);
    }
  }
}

@theme inline {
  --color-background: hsl(var(--background));
  --color-foreground: hsl(var(--foreground));
  --color-card: hsl(var(--card));
  --color-border: hsl(var(--border));
  --color-primary: hsl(var(--primary));
  --color-primary-foreground: hsl(var(--primary-foreground));
  --color-accent: hsl(var(--accent));
  --color-primary-python-blue: var(--primary-python-blue);
  --color-primary-python-yellow: var(--primary-python-yellow);

  --font-sans: var(--font-inter);
  --font-mono: var(--font-fira-code);
}

body {
  background-color: hsl(var(--background));
  color: hsl(var(--foreground));
  font-family: var(--font-sans);
}
